body {
    font-family: Arial, sans-serif;
    background: powderblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #FFFFFFFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
}

label {
    font-weight: bold;
}

input[type="text"], input[type="password"] {
    display: block;
    width: 100%;
    max-width: 278px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.loginForm {
    width: 300px;
    background-color: #007bff;
}

#registerButton {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#registerButton:hover {
    background-color: #0056b3;
}

.response {
    margin-top: 20px;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    display: none;
}
