<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Page</title>
    <link rel="stylesheet" href="~/CSS/books_table_styles.css">
</head>
<body>
    <button class="btn btn-primary" onclick="addBook()">Add book</button>
    <table id="booksTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>ISBN</th>
                <th>Description</th>
                <th>Genre</th>
                <th>Author</th>
                <th>Available Copies</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="booksTableBody"></tbody>
    </table>

    <script>
        async function loadBooks() {
            const token = localStorage.getItem('authToken');
            if (!token) {
                window.location.href = "/api/authentication/loginPage";
                return;
            }
            try {
                const response = await fetch('/api/books/GetBooks', { 
                    method: 'GET',
                    headers: {
                        'Authorization': `Bearer ${token}`, 
                        'Content-Type': 'application/json'
                    }
                });
                if (response.ok) {
                    const books = await response.json();
                    displayBooks(books, token);
                } else {
                    document.getElementById('booksTableBody').innerHTML = "<tr><td colspan='7'>Failed to load books. Please login again.</td></tr>";
                }
            } catch (error) {
                document.getElementById('booksTableBody').innerHTML = "<tr><td colspan='7'>Error loading books. Please try again later.</td></tr>";
            }
        }

        function displayBooks(books, token) {
            const booksList = document.getElementById('booksTableBody');
            booksList.innerHTML = '';  
        
            books.forEach(book => {
                const bookRow = document.createElement('tr');
                bookRow.setAttribute('data-book-id', book.id);  
                bookRow.innerHTML = `
                    <td>${book.id}</td>
                    <td>${book.bookTitle}</td>
                    <td>${book.isbn}</td>
                    <td>${book.description}</td>
                    <td>${book.genre}</td>
                    <td>${book.author}</td>
                    <td>${book.amount}</td>
                    <td>
                        <button class="btn btn-primary" onclick="editBook(${book.id}, '${token}')">Edit</button>
                        <button class="btn btn-danger" onclick="deleteBook(${book.id}, '${token}')">Delete</button>
                    </td>
                `;
        
                booksList.appendChild(bookRow); 
            });
        }
            
        async function editBook(bookId, token) {
            // const updatedBookData = {    
            //         id: "Updated id",
            //         bookTitle: "Updated Title",                    
            //         description: "Updated description",
            //         isbn: "Updated isbn",
            //         genre: "Updated genre",
            //         author: "Updated author",
            //         amount: "Updated number of copies",                  
            //     };
            // try {
            // const response = await fetch(`/api/books/${bookId}`, { 
            //     method: 'PUT',
            //     headers: {
            //         'Authorization': `Bearer ${token}`, 
            //         'Content-Type': 'application/json'
            //     },
            //     body: JSON.stringify(updatedBookData)
            // });
            // if (response.ok) {
            //     const books = await response.json();
            //     console.log(books); 
            //     displayBooks(books);
            // } else {
            //     document.getElementById('booksTableBody').innerHTML = "<tr><td colspan='7'>Failed to load books. Please login again.</td></tr>";
            // }
            // } catch (error) {
            //     document.getElementById('booksTableBody').innerHTML = "<tr><td colspan='7'>Error loading books. Please try again later.</td></tr>";
            // } 
            console.log("Redirection");
            window.location.href = `/api/books/edit/${bookId}`;
        }
        loadBooks();
    </script>
</body>
</html>
