<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Page</title>
</head>
<body>
<div id="booksList"><button></button></div>
    <script>
        async function loadBooks() {
            const token = localStorage.getItem('authToken');           
            if (!token) {
                window.location.href = "/api/authentication/loginPage";
                return;
            }
            try {
                const response = await fetch('/api/books/GetBooks', { 
                    method: 'GET',
                    headers: {
                        'Authorization': `Bearer ${token}`, 
                        'Content-Type': 'application/json'
                    }
                });
                if (response.ok) {
                    const books = await response.json();
                    //document.getElementById('booksList').innerHTML = "All ok";
                    displayBooks(books); 
                } else {
                    document.getElementById('booksList').innerHTML = "Failed to load books. Please login again.";
                }
            } catch (error) {
                document.getElementById('booksList').innerHTML = "Error loading books. Please try again later.";
            }
        }

        function displayBooks(books) {
            const booksList = document.getElementById('booksList');
            booksList.innerHTML = '';
            books.forEach(book => {
                const bookItem = document.createElement('div');
                bookItem.innerHTML = `<h3>${book.BookTitle}</h3><p>Author: ${book.Author}</p>`;
                booksList.appendChild(bookItem);
            });
        }
        // function displayBooks(books) {
        //     const booksList = document.getElementById('booksList');
        //     // Преобразуем объект books в строку JSON и отображаем
        //     booksList.innerHTML = `<pre>${JSON.stringify(books, null, 2)}</pre>`;
        // }
        loadBooks();
    </script>
</body>
</html>
